<footer>
    <p>Connect us on :</p>
    <div class="fb-page" data-href="https://www.facebook.com/The-Coder-106125424884652/?ref=pages_you_manage" data-tabs="" data-width="200" data-height="180" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/The-Coder-106125424884652/?ref=pages_you_manage" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/The-Coder-106125424884652/?ref=pages_you_manage">The Coder</a></blockquote></div>
    <p><b>Copyright@Kavindadilhara 2022</b></p>
</footer>