<% layout('layouts/boilerplate') %> 
<div class="container">
    <h2 class="about">About our history</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo ipsum dolore, asperiores corporis amet magni consequatur illum quasi, eveniet id eaque nam vel perspiciatis obcaecati sapiente adipisci totam exercitationem ducimus sunt dicta quam. Odit magnam ut ratione laboriosam tenetur exercitationem, nemo architecto consequuntur recusandae tempora harum officia sint, nulla error!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis optio, soluta cumque corporis aliquam odio quibusdam officiis delectus accusamus in cum culpa, nemo neque nulla voluptatem provident libero harum iusto! Rem et nihil eaque alias perspiciatis fuga dolore in minima suscipit, ab similique quam illum! Impedit quidem similique eligendi a, rem necessitatibus rerum libero dolorum, non doloribus, iure deserunt. Sint quae velit enim consequatur at dolore suscipit facere ullam. Quo optio culpa temporibus dolorum libero eos dolorem error voluptatum iste deserunt, fugit nisi facilis vero maxime natus corrupti. Delectus, incidunt inventore autem a aperiam cumque voluptatum error temporibus. Quis, dicta.</p>
    <h2>Meet our team</h2>
    <img class='team'src="/images/team.jpg" alt="">
  </div>
