<% layout('layouts/boilerplate') %> 
<div class="container">
    <h2 class="contact_us">Contact us for more information</h2>
    <div >
        <div>
            <h3>Lanka Auto Parts (Pvt) Ltd</h3>
            <h4>No.667/3</h4>
            <h4>Galawila road</h4>
            <h4>Homagama.</h4>
            <h4>Telephone : <a href="tel:0113310310">0113-310310</a></h4>
            <h4>Email us : <a href="mailto:kavindadilhara129@gmail.com">kavindadilhara129@gmail.com</a></h4>
        </div>
        <div class="mapouter"><div class="gmap_canvas"><iframe width='1080' height="322" id="gmap_canvas" src="https://maps.google.com/maps?q=No.667/3,galawila%20raod,Homagama&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"></a><br><style>.mapouter{position:relative;text-align:right;height:322px;width:1080px;}</style><a href="https://www.embedgooglemap.net">embedding google maps on website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:322px;max-width:1080px;}</style></div></div>
    </div>
</div>