<% layout('layouts/boilerplate') %>
<div class="poster">
    <h1>Welcome For The Sri Lanka's </h1>
    <h1>Largest Vehicle Parts Market</h1>
    <button class="explore">Explore more -></button>
</div>
<div class="explore_view">
    <h2>Our products</h2>
    <div class="container">
        <div class="row row-cols-2">
            <div class="col">
                <h3>Car engines</h3>
                <img src="/images/carengine.jpg" alt="">
            </div>
            <div class="col">
                <h3>Cylinders</h3>
                <img src="/images/cylinders.jpg" alt="">
            </div>
            <div class="col">
                <h3>Spart plugs</h3>
                <img src="/images/spark.png" alt="">
            </div>
            <div class="col">
                <h3>Wheels</h3>
                <img src="/images/wheel.jpg" alt="">
            </div>
        </div>
      </div>
</div>